#root {
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0px;
}

.p-toast .p-toast-icon-close {
  background-color: indigo;
  color: cyan;
  border: cyan 1px solid;
  padding: 0;
  margin-left: 10px;
  font-weight: 900;
  border-radius: 30%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
}

.p-toast .p-toast-icon-close:hover {
  background-color: rgb(255, 0, 251);
  color: white;
}

.fundo-pagina {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(115, 70, 252, 1) 100%);
  overflow: hidden; 
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}